.idea
**/env/*

.coveralls.yml
*.pyc
.coverage
.tox
coverage.xml
__pycache__
*db\.sqlite3
**/migrations/*
testing/resources/test-env.sh
testing/resources/service-account.json
testing/resources/client-secrets.json
secrets.tar
.cache
junit.xml
credentials.dat
.nox
